/ip/*
/prj/*
/sw/*

!/ip/i2c_to_sccb
!/ip/ov7670_capture_1.0

!/prj/tpg_sys.tcl
!/prj/tpg_vdma_sys.tcl

!/sw/tpg_vdma/tpg_vdma_test/*
./sw/tpg_vdma/*


sw/tpg_vdma/.analytics
sw/tpg_vdma/.metadata/.log
sw/tpg_vdma/.metadata/.plugins/org.eclipse.cdt.make.core/tpg_vdma_test.sc
sw/tpg_vdma/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
sw/tpg_vdma/.metadata/.plugins/org.eclipse.cdt.ui/tpg_vdma_test.build.log
sw/tpg_vdma/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
sw/tpg_vdma/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
sw/tpg_vdma/.metadata/.plugins/org.eclipse.core.resources/.projects/tpg_vdma_test/.markers.snap
sw/tpg_vdma/.metadata/.plugins/org.eclipse.core.resources/.projects/tpg_vdma_test/.syncinfo.snap
sw/tpg_vdma/.metadata/.plugins/org.eclipse.core.resources/.projects/tpg_vdma_test_system/.markers.snap
sw/tpg_vdma/.metadata/.plugins/org.eclipse.core.resources/.projects/tpg_vdma_test_system/.syncinfo.snap
sw/tpg_vdma/.metadata/.plugins/org.eclipse.core.resources/.projects/vdma_sys_wrapper/.markers.snap
sw/tpg_vdma/.metadata/.plugins/org.eclipse.core.resources/.projects/vdma_sys_wrapper/.syncinfo.snap
sw/tpg_vdma/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
sw/tpg_vdma/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
sw/tpg_vdma/.metadata/.plugins/org.eclipse.core.resources/0.snap
sw/tpg_vdma/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
sw/tpg_vdma/IDE.log
sw/tpg_vdma/vdma_sys_wrapper/.log/vdma_sys_wrapper_.build.ui.log
