[submodule "ip/axi-video-processing"]
	path = ip/axi-video-processing
	url = https://github.com/georgeyhere/axi-video-processing.git
[submodule "vivado-boards"]
	path = digilent/vivado-boards
	url = https://github.com/Digilent/vivado-boards
[submodule "digilent/vivado-library"]
	path = digilent/vivado-library
	url = https://github.com/Digilent/vivado-library
