/ip/*
/prj/*

!/ip/DigilentIP
!/ip/i2c_to_sccb
!/ip/ov7670_capture_1.0

!/prj/tpg_sys.tcl
!/prj/tpg_vdma_sys.tcl

/sw/tpg/.metadata
/sw/tpg/RemoteSystemsTempFiles
/sw/tpg/tpg_sys_wrapper
/sw/tpg/.analytics
/sw/tpg/IDE.log

/sw/tpg_vdma/.metadata
/sw/tpg_vdma/RemoteSystemsTempFiles
/sw/tpg_vdma/vdma_sys_wrapper/
/sw/tpg_vdma/.analytics
/sw/tpg_vdma/IDE.log




